.time-message:not(.time-running) {
    .message-time-running {
        display: none;
    }
}

.time-running {
    .message-time-stop {
        display: none;
    }
}

.period {
    &.show-overtime {
        .quarter-wrapper {
            display: none;
        }
    }

    &:not(.show-overtime) {
        .overtime-wrapper {
            display: none;
        }
    }
}
