@font-face {
    font-family: 'Orbitron';
    font-weight: 100 1000;
    font-stretch: 25% 151%;

    src: url('../fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
}

.font-Orbitron {
    font-family: 'Orbitron', sans-serif;
}

@font-face {
    font-family: 'MajorMonoDisplay-Regular';
    font-weight: 100 1000;
    font-stretch: 25% 151%;

    src: url('../fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf') format('truetype');
}

.font-MajorMonoDisplay-Regular {
    font-family: 'MajorMonoDisplay-Regular', sans-serif;
}

@font-face {
    font-family: 'NovaMono-Regular';
    font-weight: 100 1000;
    font-stretch: 25% 151%;

    src: url('../fonts/Nova_Mono/NovaMono-Regular.ttf') format('truetype');
}

.font-NovaMono-Regular {
    font-family: 'NovaMono-Regular', sans-serif;
}

@font-face {
    font-family: 'Aldrich-Regular';
    font-weight: 100 1000;
    font-stretch: 25% 151%;

    src: url('../fonts/Aldrich/Aldrich-Regular.ttf') format('truetype');
}

.font-Aldrich-Regular {
    font-family: 'Aldrich-Regular', sans-serif;
}
