$fontsList: (
    'Aldrich': 'Aldrich/Aldrich-Regular.ttf',
);

@each $name, $path in $fontsList {
    @font-face {
        font-family: $name;
        font-stretch: 25% 151%;
        font-weight: 100 1000;
        src: url('../fonts/#{$path}') format('truetype');
    }
    .font-#{$name} {
        font-family: $name, sans-serif;
    }
}
