/* for firefox */
* {
    scrollbar-width: thin;
}

/* for webkit */
::-webkit-scrollbar {
    background: #fff;
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #777;
}
