.settings-container {
    background: #000;
    color: #fff;
    height: 100%;
    min-height: 100vh;
    padding: 2%;
}

.score-add {
    background: rgb(134, 150, 240);
    font-size: 3vw;
}

.setValue {
    background: rgb(192, 236, 192);
    font-size: 2vw;
}

.teamLeft,
.teamRight,
.scoreLeft,
.scoreRight,
.timeouts,
.spentTimeoutsLeft,
.spentTimeoutsRight,
.folsLeft,
.folsRight,
.tenths,
.seconds,
.minutes,
.quarter,
.overtime {
    font-size: 3vw;
    max-width: 400px;
}

.counter24 {
    font-size: 5vw;
}

.start-timer,
.stop-timer {
    font-size: 4vw;
    padding: 2vw;
}

.start-timer {
    background-color: #1e87f0;
    color: #fff;
}

.stop-timer {
    background-color: #f0506e;
    color: #fff;
}

.clock-control:not(.time-running) {
    .stop-timer {
        display: none;
    }
}

.clock-control.time-running {
    .start-timer {
        display: none;
    }
}

.mirror,
.showArrow {
    height: 3vw;
    width: 3vw;
}

.settings-arrow-wrapper {
    height: 7vw;
    width: 15vw;
}

.settings-arrow-left {
    fill: #e6e00d;
    height: 100%;
    width: 100%;

    &.arrow-right {
        transform: rotateY(180deg);
    }
}

.tooltip {
    background: #222;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #ccc;
    display: none;
    font-size: 1.2vw;
    opacity: 0;
    padding: 0.5vw;
    position: absolute;
    transition-duration: 0.3s;
    transition-property: opacity;
}

.tooltip-show {
    display: block;
}

.tooltip-opacity {
    opacity: 1;
}
