.settings-container {
    height: 100%;
}

.clock-control:not(.time-running) {
    .stop-timer {
        display: none;
    }
}

.clock-control.time-running {
    .start-timer {
        display: none;
    }
}
