@import './fonts.scss';

html,
body {
    min-height: 100vh;
}

.d-flex {
    display: flex;
}

.flex-center-around {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.flex-center-between {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.flex-center-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex-auto {
    flex: auto;
}

.border {
    border: 1px solid rgba($color: #000, $alpha: 0.2);
}

@import './settings.scss';
@import './view.scss';

.arrow {
    background: #e6e00d;
    display: block;
    height: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    position: relative;
    width: 50px;

    &::before {
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: #e6e00d;
        border-style: solid;
        border-top-color: transparent;
        border-width: 30px;
        content: '';
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translate(0%, -50%);
    }

}

.arrow.arrow-right {
    &::before {
        border-bottom-color: transparent;
        border-left-color: #e6e00d;
        border-right-color: transparent;
        border-top-color: transparent;
        left: 100%;
    }
}

.icon-question {
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-flex;
    font-size: 20px;
    height: 20px;
    justify-content: center;
    width: 20px;
}
