@import './fonts.scss';

html,
body {
    height: 100%;
}

.d-flex {
    display: flex;
}

.flex-center-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.border {
    border: 1px solid #000;
}

@import './settings.scss';

@import './view.scss';
