// * {
//     outline: 1px solid;
// }

.view-container {
    background: #000;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    line-height: 1;
    min-height: 100vh;
    padding: 2%;
    width: 100%;
}

.mirror {
    .mirror-change-direction {
        flex-direction: row-reverse;
    }
}

.view-team {
    flex: auto;
    font-size: 3vw;
    overflow: hidden;
    text-align: center;
}

.view-time {
    color: #e03838;
    display: flex;
    font-size: 12vw;
    margin: auto;
    width: 38vw;
}

.view-score {
    color: #e6e00d;
    font-size: 16vw;
    text-align: center;
}

.view-counter-24 {
    color: #e03838;
    font-size: 10vw;
    text-align: right;
    width: 60%;
}

.view-counter-24-tenths-of-second {
    color: #e03838;
    font-size: 10vw;
}

.view-foul {
    color: #1bda5f;
    font-size: 10vw;
    text-align: center;
}

.view-foul-limit {
    color: #e03838;
}

.view-foul-text {
    font-size: 3vw;
    text-align: center;
}
