// * {
//     outline: 1px solid;
// }

.view-container {
    background: #000;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    line-height: 1;
    min-height: 100vh;
    padding: 2%;
    width: 100%;
}

.view-arrow-left {
    fill: #e6e00d;
    height: 100%;
    width: 100%;

    &.arrow-right {
        transform: rotateY(180deg);
    }

    .mirror .need-to-rotate-when-mirroring & {
        transform: rotateY(180deg);
    }

    .mirror .need-to-rotate-when-mirroring &.arrow-right {
        transform: rotateY(0deg);
    }
}

.mirror .need-to-rotate-when-mirroring {
    flex-direction: row-reverse;
}

.view-arrow-wrapper {
    height: 15vh;
    width: 15vw;
}

.view-team {
    flex: auto;
    font-size: 3vw;
    overflow: hidden;
    text-align: center;
}

.view-time {
    color: #e03838;
    display: flex;
    font-size: 12vw;
    margin: auto;
    width: 38vw;
}

.view-minutes,
.view-seconds {
    width: 45%;
}

.view-minutes {
    text-align: right;
}

.view-time-colon {
    text-align: center;
    width: 10%;
}

.view-score {
    color: #e6e00d;
    font-size: 12vw;
    text-align: center;
}

.view-counter24-wrapper {
    width: 100%;
}

.view-counter-24 {
    color: #e03838;
    font-size: 10vw;
    text-align: right;
    width: 60%;
}

.view-counter-24-tenths-of-second {
    color: #e03838;
    font-size: 10vw;
}

.view-period-value,
.view-foul {
    color: #1bda5f;
    font-size: 10vw;
    text-align: center;
}

.view-period-text,
.view-foul-text {
    font-size: 3vw;
    text-align: center;
}
