.view-container {
    background: #000;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    min-height: 100vh;
    padding: 2%;
    width: 100%;
}

.mirror .need-to-rotate-when-mirroring {
    flex-direction: row-reverse;

    .arrow-left {
        transform: rotateY(180deg);

    }

    .arrow-left.arrow-right {
        transform: rotateY(0deg);
    }
}

.view-arrow-wrapper {
    height: 50px;
    width: 500px;
}

.arrow-left {
    fill: #e6e00d;
    height: 100%;
    width: 100%;

    &.arrow-right {
        transform: rotateY(180deg);
    }
}

.view-team {
    flex: auto;
    font-size: 50px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 29%;
}

.view-time {
    color: #e03838;
    display: flex;
    font-size: 200px;
    width: 42%;
}

.view-minutes,
.view-seconds {
    width: 45%;
}

.view-minutes {
    text-align: right;
}

.view-time-colon {
    text-align: center;
    width: 10%;
}

// .view-time-test {
//     display: flex;

//     width: 50%;

//     .number {
//         width: 45%;

//         text-align: center;
//     }

//     .colon {
//         width: 10%;

//         text-align: center;
//     }
// }

.view-score-wrapper {
    min-width: 200px;
}

.view-score {
    color: #e6e00d;
    font-size: 100px;
    text-align: center;
}

.view-counter-24 {
    color: #e03838;
    font-size: 150px;
    min-width: 250px;
    text-align: center;
}

.view-period-value,
.view-foul {
    color: #1bda5f;
    font-size: 150px;
    text-align: center;
}

.view-period-text,
.view-foul-text {
    font-size: 30px;
    text-align: center;
}
